body {
    background-color: lightcoral;
}

h1{
    font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 70px;
}

form input {
  width: 46%;
  margin: 20px 1%;
  background: transparent;
  border: 0px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  transition: 0.4s ease-in-out;
  color: #fff;
  font-weight: bold;
}
form textarea {
  width: 96%;
  margin: 20px 1%;
  padding: 8px 10px;
  border: 0px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background: transparent;
  resize: none;
  transition: 0.4s ease-in-out;
  color: #fff;
  font-weight: bold;
}
 form input:focus {
  outline: none;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}
 form textarea:focus {
  outline: none;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}
::placeholder {
  color: #fff;
}

.btn_one {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  background: transparent;
  border: 3px solid #fff;
  padding: 8px 40px;
  border-radius: 80px;
  font-weight: bold;
  margin: 2vh 10px;
  transition: 0.4s ease-in-out;
}
.btn_one:hover {
  cursor: pointer;
  color: rgb(104, 3, 3);
  background: #fff;
}